body {
  /* max-width: 1140px; */
  margin: 0px 200px;
  align-items: center;
}
h1 {
  text-align: center;
}
fieldset {
  /* width: 50%; */
  align-items: center;
}
label {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
input,
textarea {
  width: 75%;
}

select {
  margin-top: 20px;
}
input[type="submit"] {
  width: 25%;
  background-color: aquamarine;
  margin-top: 10px;
  padding: 5px 0px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  border-radius: 5px;
}
